.workstart{position: relative;
    top: 1200px;
    justify-content: space-between;
    margin: 10px;
    display: flex;
    font-size: 29px;
    right: 288px;
    background: rgba(0, 221, 255, 0.282);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: -2px 18px 55px 24px rgba(0, 0, 0, 0.37);
    left: 146px;
    width: 80%;
    text-align: center;
    height: 750px;
    text-align: center;
}
.left{
    position: relative;
    
    right: 76px;
}
.first1,.second2,.third3{
    background: rgba(255, 255, 255, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 5px solid rgb(0, 0, 0);
width: 526px;
  top: 122px;
  position: relative;
  height: 161px;
  text-align: center;
}
.first1:hover,.second2:hover,.third3:hover{
background-color: rgb(42, 95, 111);

}